# python-opsramp CircleCI 2.0 configuration file
#
# (c) Copyright 2019-2022 Hewlett Packard Enterprise Development LP
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
version: 2.1
jobs:
  packaging_py37:
    docker:
      - image: cimg/python:3.7.5
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: update build environment
          command: |
            python3 -m venv venv2
            . venv2/bin/activate
            python3 -m pip install --upgrade pip
            pip install --upgrade build flake8 tox yamllint
      - run:
          name: build distribution packages
          command: |
            . venv2/bin/activate
            python3 -m build
  unit_py37:
    docker:
      - image: cimg/python:3.7.5
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: install dependencies
          command: |
            python3 -m venv venv3
            . venv3/bin/activate
            python3 -m pip install --upgrade pip
            pip install -r requirements.txt -r test-requirements.txt
      - run:
          name: run tests
          command: |
            . venv3/bin/activate
            ./runtests.sh
      - store_artifacts:
          path: htmlcov
          destination: coverage

workflows:
  version: 2
  "CircleCI":
    jobs:
      - unit_py37
      - packaging_py37
